---
import { CopyIcon } from "@lucide/astro"
import ThemeToggle from "@/components/layout/theme-toggle.astro"
import { siteConfig } from "@/config/site"

const currentDate = new Date()
const sha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA ?? "e71ec5571df242790b13aa587e817e607019b69e"
---

<footer
  class="relative flex flex-col gap-1 py-4 text-muted-foreground before:absolute before:top-0 before:left-0 before:h-px before:w-1/4 before:bg-foreground"
>
  <span>
    <a class="link" target="_blank" rel="noopener noreferrer" href={siteConfig.links.github}>GitHub</a>,
    <a class="link" target="_blank" rel="noopener noreferrer" href={siteConfig.links.x}>X</a>,
    <a class="link" target="_blank" rel="noopener noreferrer" href={siteConfig.links.email}>Email</a>,
    <a class="link" target="_blank" rel="noopener noreferrer" href={siteConfig.links.linkedin}>LinkedIn</a>,
    <a class="link" href="/rss.xml">RSS</a>,
    <a class="link" href="/now">Now</a>
  </span>

  <span class="text-xs leading-6 text-muted-foreground/70">
    Last mod: {
      currentDate.toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
        timeZone: "America/New_York"
      })
    }, {
      currentDate.toLocaleTimeString("en-US", {
        hour: "numeric",
        minute: "2-digit",
        timeZone: "America/New_York",
        timeZoneName: "short"
      })
    } (<a
      class="link underline decoration-dotted underline-offset-4"
      target="_blank"
      rel="noopener noreferrer"
      href={`https://github.com/venables/venabl.es/commit/${sha}`}>{sha.slice(0, 7)}</a
    >)
  </span>
  <div class="mt-8 flex items-center justify-between">
    <span class="flex items-center gap-1 text-xs leading-6 text-muted-foreground/70">
      <a class="link no-underline" href="/.well-known/did.json">did:web:venabl.es</a>
      |
      <a class="link no-underline" href="/pgp">pgp</a>
    </span>
    <ThemeToggle />
  </div>
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear()
</script>
