---
import "@fontsource-variable/jetbrains-mono"
import "@fontsource-variable/geist-mono"
import "@/styles/globals.css"
import { SEO } from "astro-seo"
import GoogleAnalytics from "@/components/analytics/google-analytics.astro"
import PostHog from "@/components/analytics/post-hog.astro"
import TailwindIndicator from "@/components/layout/tailwind-indictor.astro"
import TheNet from "@/components/layout/the-net.astro"
import { siteConfig } from "@/config/site"
import { cn } from "@/lib/utils/cn"
import type { RootLayoutProps } from "./_root.types"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"body"> & RootLayoutProps

const url = new URL(Astro.request.url)
const host = `${url.protocol}//${url.host}`
const { title, description, image, canonical, class: className, ...props } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <PostHog id="phc_3E0P50QSoLWB5ELOsfh19cEXzhu1fu1BhDqxY3fXzd9" />
    <GoogleAnalytics id="G-MH0RX39N6C" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="application-name" content={siteConfig.name} />
    <SEO
      title={title}
      titleTemplate={`%s | ${siteConfig.name}`}
      description={description ?? siteConfig.description}
      canonical={canonical}
      openGraph={{
        basic: {
          url: host,
          title,
          type: "website",
          image: image?.url ?? `${host}/og.png`
        },
        optional: {
          siteName: siteConfig.name,
          description: description ?? siteConfig.description,
          locale: "en_US"
        },
        image: image
      }}
      twitter={{
        creator: siteConfig.author.twitter,
        card: "summary_large_image",
        site: siteConfig.handles.twitter,
        image: image?.url ?? `${host}/og.png`,
        title,
        description: description ?? siteConfig.description
      }}
    />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon-512x512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>

  <body class={cn("antialiased", className)} {...props}>
    <slot />
    {import.meta.env.DEV && <TailwindIndicator />}
    <TheNet />
  </body>
</html>
