---
import "@fontsource-variable/jetbrains-mono"
import "../styles/fonts.css"
import "../styles/globals.css"
import { SEO } from "astro-seo"
import Footer from "./Footer.astro"
import mattVenablesImage from "../assets/matt-venables.png"
import Avatar from "../components/Avatar.astro"
import { siteConfig } from "../config/site"

interface Props {
  title: string
  description?: string
  canonical?: string | URL
  image?: {
    // SEOProps["openGraph"]["image"]
    alt?: string
    height?: number
    url?: string
    width?: number
  }
}

const url = new URL(Astro.request.url)
const host = `${url.protocol}//${url.host}`
const { title, description, image, canonical } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-MH0RX39N6C"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-MH0RX39N6C")
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="application-name" content={siteConfig.name} />
    <SEO
      title={title}
      titleTemplate={`%s | ${siteConfig.name}`}
      description={description ?? siteConfig.description}
      canonical={canonical}
      openGraph={{
        basic: {
          url: host,
          title,
          type: "website",
          image: image?.url ?? `${host}/og.png`
        },
        optional: {
          siteName: siteConfig.name,
          description: description ?? siteConfig.description,
          locale: "en_US"
        },
        image: image
      }}
      twitter={{
        creator: siteConfig.author.twitter,
        card: "summary_large_image",
        site: siteConfig.handles.twitter,
        image: image?.url ?? `${host}/og.png`,
        title,
        description: description ?? siteConfig.description
      }}
    />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon-512x512.png"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>

  <body class="flex min-h-screen flex-col p-2 font-mono antialiased">
    <header>
      <div class="flex flex-row items-center gap-2">
        <a
          href="/"
          data-swing-trigger
          class="font-semibold text-blue-700 underline underline-offset-4"
          >matt venables</a
        >
        <a href="/">
          <Avatar
            image={mattVenablesImage}
            class="size-8 rounded-sm md:size-12 md:rounded-md"
          />
        </a>
      </div>
    </header>

    <main class="grow">
      <slot />
    </main>

    <Footer />

    <script>
      const triggers = document.querySelectorAll("[data-swing-trigger]")

      triggers.forEach((trigger) => {
        trigger.addEventListener("mouseenter", () => {
          const targets = document.querySelectorAll("[data-swing-target]")

          targets.forEach((target) => {
            target.classList.add("animate-swing")
          })
        })
      })
    </script>
  </body>
</html>
